* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-position: outside;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../assets/fonts/Metropolis-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Metropolis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Medium.woff2") format("woff2"), url("../assets/fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Thin.woff2") format("woff2"), url("../assets/fonts/Metropolis-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Semi";
  src: url("../assets/fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../assets/fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Black.woff2") format("woff2"), url("../assets/fonts/Metropolis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Bold.woff2") format("woff2"), url("../assets/fonts/Metropolis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Extra";
  src: url("../assets/fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Regular.woff2") format("woff2"), url("../assets/fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Light.woff2") format("woff2"), url("../assets/fonts/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 120vh;
}
.footer .footer__top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 420px;
  border-radius: 20px;
  background-color: #0A033C;
}
.footer .footer__top-container .footer__top-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 550px;
  height: 260px;
}
.footer .footer__top-container .footer__top-title .footer__top-text {
  color: #FFF;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.footer .footer__top-container .footer__top-title .footer__top-lorem {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer__top-container .footer__top-title .footer__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 509px;
  height: 60px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
.footer .footer__top-container .footer__top-title .footer__input .input {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  border: none;
  background-color: transparent;
}
.footer .footer__top-container .footer__top-title .footer__input .footer__button {
  width: 142px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  background: #9C4DF4;
  border: none;
}
.footer .footer__top-container .footer__top-title .footer__input .footer__button .footer__top-link {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}
.footer .footer__bottom-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 1300px;
  height: 350px;
}
.footer .footer__bottom-container .footer__item {
  width: auto;
  height: auto;
}
.footer .footer__bottom-container .footer__item .footer__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 60px;
  padding: 16px 0;
}
.footer .footer__bottom-container .footer__item .footer__eduvi {
  color: #5D5A6F;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}
.footer .footer__bottom-container .footer__item .footer__lorem {
  color: #5D5A6F;
  font-size: 16px;
  font-weight: 400;
  width: 170px;
  margin-top: 20px;
}
.footer .footer__bottom-container .footer__item .footer__text {
  color: #0A033C;
  font-size: 22px;
  font-weight: 600;
}
.footer .footer__bottom-container .footer__item .footer__title {
  width: auto;
  height: auto;
}
.footer .footer__bottom-container .footer__item .footer__title .footer__list {
  width: auto;
}
.footer .footer__bottom-container .footer__item .footer__title .footer__link {
  padding: 12px 0;
  display: inline-block;
  color: #5D5A6F;
  font-weight: 400;
  font-size: 16px;
}
.footer .footer__bottom-container .footer__item .footer__title .footer__link:hover {
  color: #9C4DF4;
}/*# sourceMappingURL=main.css.map */