* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-position: outside;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../assets/fonts/Metropolis-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Metropolis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Medium.woff2") format("woff2"), url("../assets/fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Thin.woff2") format("woff2"), url("../assets/fonts/Metropolis-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Semi";
  src: url("../assets/fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../assets/fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Black.woff2") format("woff2"), url("../assets/fonts/Metropolis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Bold.woff2") format("woff2"), url("../assets/fonts/Metropolis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Extra";
  src: url("../assets/fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Regular.woff2") format("woff2"), url("../assets/fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Light.woff2") format("woff2"), url("../assets/fonts/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  font-family: "Metropolis";
  background-color: #F7F5FA;
  padding-top: 30px;
  overflow: hidden;
}
.header__top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 120px;
}
.header__title {
  display: flex;
  gap: 30px;
}
.header__title select {
  border: none;
}
.header .hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Metropolis";
}
.header .hero__title {
  color: #0A033C;
  font-family: Metropolis;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}
.header .hero__option {
  width: fit-content;
  margin-top: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}
.header .hero__option .hero__class {
  padding-left: 41px;
  padding-right: 168px;
}
.header .hero__sub__title {
  width: 607px;
  padding-top: 15px;
  color: #5D5A6F;
  font-family: "Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.header .hero__select {
  border: none;
}
.header .hero__button {
  gap: 5px;
  background-color: #FFF;
  color: #9C4DF4;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #9C4DF4;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  text-align: center;
  background: #9C4DF4;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.header .hero__button:hover {
  background-color: #9C4DF4;
  color: #FFF;
  border: none;
  transition: 0.3s;
}
.header .hero__btn {
  width: 239px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  color: #FF6652;
  border: none;
  font-family: Metropolis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  background-color: #F7F5FA;
}
main .classes {
  font-family: "Metropolis";
}
main .classes__title {
  color: #0A033C;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  padding: 150px 400px 20px 350px;
}
main .classes__subtitle {
  color: #5D5A6F;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 262px 40px 338;
}
main .classes__btn {
  border-radius: 10px;
  background: #9C4DF4;
  width: 162px;
  height: 60px;
  border: none;
  margin: 40px 600px 60px 530px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
main .classes__btn:hover {
  background-color: #3f0580;
  transition: 0.3s;
}
main .classes__cards {
  display: flex;
  justify-content: space-evenly;
  padding: 0 230px 80px 150px;
  gap: 30px;
}
main .classes__cards .card {
  border-radius: 10px;
  background: #FFF;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
}
main .classes__cards .card__icon {
  margin: 15px 15px;
}
main .classes__cards .card__subtitle {
  color: #0A033C;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}
main .lessons {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .lessons__h1 {
  color: #0A033C;
  font-family: "Metropolis";
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
}
main .lessons__p {
  padding-top: 20px;
  width: 700px;
  color: #5D5A6F;
  font-family: "Metropolis";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
main .lessons__schools {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .lessons__schools--left {
  color: #0A033C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__schools--center {
  padding: 20px 30px;
  background: #FF6652;
  border-radius: 10px;
  border: #FF6652;
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__schools--right {
  color: #0A033C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 45px;
  padding-bottom: 60px;
}
main .lessons__boxes--box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #FFF;
  background-color: #FFF;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .lessons__boxes--box h1 {
  padding-top: 20px;
  color: #0A033C;
  text-align: center;
  font-family: "Metropolis";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main .lessons__boxes--box p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  width: 260px;
  color: #5D5A6F;
  text-align: center;
  font-family: "Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 25px;
}
main .lessons__boxes--box button {
  background-color: #FFF;
  color: #9C4DF4;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #9C4DF4;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  padding: 12px 30px;
}
main .lessons__boxes--box button:hover {
  background-color: #9C4DF4;
  color: #FFF;
  border: none;
  transition: 0.3s;
}
main .lessons__button {
  background-color: #FFF;
  color: #9C4DF4;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #9C4DF4;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  padding: 20px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__button:hover {
  background-color: #9C4DF4;
  color: #FFF;
  border: none;
  transition: 0.3s;
}

.footer {
  padding-top: 100px;
  padding-bottom: 63px;
  font-family: "Metropolis";
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: #F7F5FA;
  width: 100%;
}
.footer .footer__top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 420px;
  border-radius: 20px;
  background-color: #0A033C;
}
.footer .footer__top-container .footer__top-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 550px;
  height: 260px;
}
.footer .footer__top-container .footer__top-title .footer__top-text {
  color: #FFF;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.footer .footer__top-container .footer__top-title .footer__top-lorem {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer__top-container .footer__top-title .footer__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 509px;
  height: 60px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
.footer .footer__top-container .footer__top-title .footer__input .input {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  border: none;
  background-color: transparent;
}
.footer .footer__top-container .footer__top-title .footer__input .footer__button {
  width: 142px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  background: #9C4DF4;
  border: none;
}
.footer .footer__top-container .footer__top-title .footer__input .footer__button .footer__top-link {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}
.footer .footer__bottom-container {
  padding-top: 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 350px;
}
.footer .footer__bottom-container .footer__item {
  width: auto;
  height: auto;
}
.footer .footer__bottom-container .footer__item .footer__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 60px;
  padding: 16px 0;
}
.footer .footer__bottom-container .footer__item .footer__eduvi {
  color: #5D5A6F;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}
.footer .footer__bottom-container .footer__item .footer__lorem {
  color: #5D5A6F;
  font-size: 16px;
  font-weight: 400;
  width: 170px;
  margin-top: 20px;
}
.footer .footer__bottom-container .footer__item .footer__text {
  color: #0A033C;
  font-size: 22px;
  font-weight: 600;
}
.footer .footer__bottom-container .footer__item .footer__title {
  width: auto;
  height: auto;
}
.footer .footer__bottom-container .footer__item .footer__title .footer__list {
  width: auto;
}
.footer .footer__bottom-container .footer__item .footer__title .footer__link {
  padding: 12px 0;
  display: inline-block;
  color: #5D5A6F;
  font-weight: 400;
  font-size: 16px;
}
.footer .footer__bottom-container .footer__item .footer__title .footer__link:hover {
  color: #9C4DF4;
}

/*# sourceMappingURL=main.css.map */
