* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-position: outside;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../assets/fonts/Metropolis-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Metropolis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Medium.woff2") format("woff2"), url("../assets/fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Thin.woff2") format("woff2"), url("../assets/fonts/Metropolis-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Semi";
  src: url("../assets/fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../assets/fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Black.woff2") format("woff2"), url("../assets/fonts/Metropolis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Bold.woff2") format("woff2"), url("../assets/fonts/Metropolis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis Extra";
  src: url("../assets/fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Regular.woff2") format("woff2"), url("../assets/fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/Metropolis-Light.woff2") format("woff2"), url("../assets/fonts/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  background-color: #F7F5FA;
}
main .lessons {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .lessons__h1 {
  color: #0A033C;
  font-family: "Metropolis";
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
}
main .lessons__p {
  padding-top: 20px;
  width: 700px;
  color: #5D5A6F;
  font-family: "Metropolis";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
main .lessons__schools {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .lessons__schools--left {
  color: #0A033C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__schools--center {
  padding: 20px 30px;
  background: #FF6652;
  border-radius: 10px;
  border: #FF6652;
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__schools--right {
  color: #0A033C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 45px;
  padding-bottom: 60px;
}
main .lessons__boxes--box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #FFF;
  background-color: #FFF;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .lessons__boxes--box h1 {
  padding-top: 20px;
  color: #0A033C;
  text-align: center;
  font-family: "Metropolis";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main .lessons__boxes--box p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  width: 260px;
  color: #5D5A6F;
  text-align: center;
  font-family: "Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 25px;
}
main .lessons__boxes--box button {
  background-color: #FFF;
  color: #9C4DF4;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #9C4DF4;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  padding: 12px 30px;
}
main .lessons__boxes--box button:hover {
  background-color: #9C4DF4;
  color: #FFF;
  border: none;
  transition: 0.3s;
}
main .lessons__button {
  background-color: #FFF;
  color: #9C4DF4;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #9C4DF4;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  padding: 20px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main .lessons__button:hover {
  background-color: #9C4DF4;
  color: #FFF;
  border: none;
  transition: 0.3s;
}

/*# sourceMappingURL=main.css.map */
